# Backend Environment Variables

# Database
DATABASE_URL=postgresql://user:Neildo123!@#@localhost:5432/ecosnap

# Upload
UPLOAD_DIR=app/static/upload

# Server
BASE_URL=http://localhost:8000

# Debug
DEBUG=True
